GDMGenMetaData/DictionaryCSV.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="DictionaryCSV">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:terminator="%CR;%LF;%WSP*;" name="MAPDef">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ibmDfdlExtn:sampleValue="head_value1" name="src_schema" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="head_value2" name="src_message" type="xsd:string"/>							
							<xsd:element ibmDfdlExtn:sampleValue="head_value3" name="src_parser" type="xsd:string"/>							
                            <xsd:element ibmDfdlExtn:sampleValue="head_value4" name="trg_schema" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="head_value5" name="trg_message" type="xsd:string"/>
                                                    <xsd:element name="trg_parser" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>			
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="SubstMapping">
					<xsd:complexType>
						<xsd:sequence> 
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="src_field" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" name="trg_field" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" name="spare1" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value4" minOccurs="0" name="spare2" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value5" minOccurs="0" name="description" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



</xsd:schema>