HB37CBL/HB37.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:dfdlCobolFmt="http://www.ibm.com/dfdl/CobolDataDefinitionFormat" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
  <xsd:import namespace="http://www.ibm.com/dfdl/CobolDataDefinitionFormat" schemaLocation="IBMdefined/CobolDataDefinitionFormat.xsd"/>
  <xsd:complexType name="HBHCHKREQ">
    <xsd:sequence>
      <xsd:element default="0" name="IMSLL">
        <xsd:annotation>
          <xsd:documentation>PIC S9(3) binary</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="dfdlCobolFmt:PICS9-Comp__short">
            <xsd:minInclusive value="-999"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="IMSZZ">
        <xsd:annotation>
          <xsd:documentation>PIC S9(3) binary</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="dfdlCobolFmt:PICS9-Comp__short">
            <xsd:minInclusive value="-999"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element dfdl:lengthKind="implicit" name="HBHDR_REQ">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element default=" " dfdl:length="8" name="TRCDNAME">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <initialValue kind="SPACE"/>
                </xsd:appinfo>
                <xsd:documentation>PIC X(8) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PICX__string">
                  <xsd:maxLength value="8"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element default=" " dfdl:length="10" name="TRMLIDNT">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <initialValue kind="SPACE"/>
                </xsd:appinfo>
                <xsd:documentation>PIC X(10) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PICX__string">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element default="0" dfdl:decimalSigned="no" dfdl:length="5" dfdl:textNumberPattern="00000+" name="PORTIDNF">
              <xsd:annotation>
                <xsd:documentation>PIC 9(5) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PIC9-Display-Zoned__int">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="99999"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HBHCHKRPY">
    <xsd:sequence>
      <xsd:element default="0" name="IMSLL">
        <xsd:annotation>
          <xsd:documentation>PIC S9(3) binary</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="dfdlCobolFmt:PICS9-Comp__short">
            <xsd:minInclusive value="-999"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="IMSZZ">
        <xsd:annotation>
          <xsd:documentation>PIC S9(3) binary</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="dfdlCobolFmt:PICS9-Comp__short">
            <xsd:minInclusive value="-999"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element dfdl:lengthKind="implicit" name="HBHDR_RPY">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element default=" " dfdl:length="8" name="TRCDNAME">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <initialValue kind="SPACE"/>
                </xsd:appinfo>
                <xsd:documentation>PIC X(8) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PICX__string">
                  <xsd:maxLength value="8"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element default=" " dfdl:length="10" name="TRMLIDNT">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <initialValue kind="SPACE"/>
                </xsd:appinfo>
                <xsd:documentation>PIC X(10) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PICX__string">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element default="0" dfdl:decimalSigned="no" dfdl:length="5" dfdl:textNumberPattern="00000+" name="PORTIDNF">
              <xsd:annotation>
                <xsd:documentation>PIC 9(5) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PIC9-Display-Zoned__int">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="99999"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element default=" " dfdl:length="2" name="STUS">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <initialValue kind="SPACE"/>
                </xsd:appinfo>
                <xsd:documentation>PIC X(2) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PICX__string">
                  <xsd:maxLength value="2"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element dfdl:lengthKind="implicit" name="ERORMSGE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element default=" " dfdl:length="5" name="MSGENUMB">
              <xsd:annotation>
                <xsd:appinfo source="http://www.wsadie.com/appinfo">
                  <initialValue kind="SPACE"/>
                </xsd:appinfo>
                <xsd:documentation>PIC X(5) display</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="dfdlCobolFmt:PICX__string">
                  <xsd:maxLength value="5"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:annotation>
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format binaryFloatRep="{$dfdl:binaryFloatRep}" byteOrder="{$dfdl:byteOrder}" encoding="{$dfdl:encoding}" ignoreCase="yes" leadingSkip="0" occursCountKind="fixed" ref="dfdlCobolFmt:CobolDataFormat" textNumberPadCharacter="0" textStringJustification="left" textStringPadCharacter="%SP;" textZonedSignStyle="asciiStandard" trailingSkip="0"/>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:annotation>
    <xsd:documentation>
	This XSD was created by importing COBOL copybook.

	Source file:	importFiles\HB37.cbl

	Import options:
		CODEPAGE=ISO-8859-1
		ENDIAN=Little
		EXTENSION_CBL=FP
		EXTENSION_CCP=FP
		EXTENSION_COB=FP
		EXTENSION_CPY=DS
		EXT_DECIMAL_SIGN=ASCII
		FLOATING_POINT_FORMAT=0
		NSYMBOL=NATIONAL
		NUMPROC=PFD
		PLATFORM_SELECTION=0
		QUOTE=DOUBLE
		REMOTE_ENDIAN=Little
		TRUNC=STD
		SCHEMA_TARGET_NAMESPACE_URI=null
		CREATE_DEFAULT_VALUES_FROM_INITIAL_VALUES=true
		CREATE_FACETS_FROM_LEVEL_88_VALUE_CLAUSES=false
		PRESERVE_CASE_IN_VARIABLE_NAMES=true
		CREATE_NULL_VALUES_FOR_FIELDS=false
		NULL_CHARACTER_FOR_STRING=%SP; 
		NULL_CHARACTER_FOR_NUMBER=%#r00; 
		STRING_PADDING_CHARACTER=%SP;
		NUMBER_PADDING_CHARACTER=0
		DEFAULT_FOR_STRING= 
		DEFAULT_FOR_NUMBER=0

</xsd:documentation>
  </xsd:annotation>
  <xsd:element dfdl:lengthKind="implicit" ibmSchExtn:docRoot="true" name="HBHCHKREQ" type="HBHCHKREQ"/>
  <xsd:element dfdl:lengthKind="implicit" ibmSchExtn:docRoot="true" name="HBHCHKRPY" type="HBHCHKRPY"/>
</xsd:schema>